body {
    background: lightslategray;
    height: 100%;
    min-height: 100vh;
}
html {
    background-color: lightslategray;
}

footer {
    background: lightslategray;
    height: 100%;
}

.outerbox {
    margin-top: 2%;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 3%;
}

.narrowbox {
    margin-top: 2%;
    background-color:white;
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 1%;
}

.cropped {
    width: 200px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
}

div.scrollmenu {
    margin-top: 3%;
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu a:hover {
    background-color: #777;
}

button.category {
   padding-inline: 100px;
   margin-inline: 5px;
}


