<div class='container outerbox' style='margin-top: 50px;'>
    <h3 class='mb-3'>Add User</h3>
    <form #addUserForm='ngForm' (ngSubmit)='onSubmit()' [mustMatch]="['password', 'confirmpassword']">
        
        <div class='form-group mb-3'>
            <input type='text' class='form-control' placeholder='First Name' [(ngModel)]='newUser.firstname'
                    name='firstname' #firstname='ngModel' 
                    [ngClass]="{'is-invalid': firstname.touched && firstname.invalid}" required>

            <div *ngIf='firstname.touched && firstname.invalid' class='invalid-feedback'>
                <div *ngIf='firstname.errors!.required'>First Name is required</div>
            </div>
        </div>

        <div class='form-group mb-3'>
            <input type='text' class='form-control' placeholder='Last Name' [(ngModel)]='newUser.lastname'
                    name='lastname' #lastname='ngModel' 
                    [ngClass]="{'is-invalid': lastname.touched && lastname.invalid}" required>

            <div *ngIf='lastname.touched && lastname.invalid' class='invalid-feedback'>
                <div *ngIf='lastname.errors!.required'>Last Name is required</div>
            </div>
        </div>

        <div class='form-group mb-3'>
            <input type='email' class='form-control' placeholder='Email' [(ngModel)]='newUser.email'
                    name='email' #email='ngModel'
                    [ngClass]="{'is-invalid': email.touched && email.invalid}" email required>

            <div *ngIf='email.touched && email.invalid' class='invalid-feedback'>
                <div *ngIf='email.errors!.required'>Email is required</div>
                <div *ngIf='email.errors!.email'>Enter a valid email address</div>
            </div>
        </div>

        <div class='form-group mb-3'>
            <input type='password' class='form-control' placeholder='Password' [(ngModel)]='newUser.password'
                    name='password' #password='ngModel' minlength='6'
                    [ngClass]="{'is-invalid': password.touched && password.invalid}" required>

            <div *ngIf='password.touched && password.invalid' class='invalid-feedback'>
                <div *ngIf='password.errors!.required'>Password is required</div>
                <div *ngIf='password.errors!.minlength'>Password must be at least 6 digits</div>
            </div>
        </div>

        <div class='form-group mb-3'>
            <input type='password' class='form-control'
                    placeholder='Confirm Password' name='confirmpassword' #confirmpassword='ngModel' ngModel
                    [ngClass]="{'is-invalid': confirmpassword.touched && confirmpassword.invalid}" required>

            <div *ngIf='confirmpassword.touched && confirmpassword.invalid' class='invalid-feedback'>
                <div *ngIf='confirmpassword.errors!.required'>Confirm Password is required</div>
                <div *ngIf='confirmpassword.errors!.mustMatch'>Password must match</div>
            </div>
        </div>

        <div class='form-group mb-3'>
            <input type='radio'  placeholder='Role: admin / normal' 
                [(ngModel)]='newUser.role' name='role' #role='ngModel' value='normal'> Normal
            <input type='radio'  placeholder='Role: admin / normal' 
                [(ngModel)]='newUser.role' name='role' #role='ngModel' value='admin'> Admin
        </div>

        <button type='submit' data-testid='register-submit' class='btn btn-primary' 
            [disabled]='addUserForm.form.invalid'>Register</button>&nbsp;
        <button type='reset' class='btn btn-primary'>Reset</button>

    </form>
</div>

