<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <app-navbar></app-navbar>
    <div id='div' class="container outerbox">
        <section class="jumbotron-heading text-center">
            <div class="title">
                <h2>Orders</h2>
            </div>
        </section>

        <ul class="list-group mb-3" *ngFor='let order of orders; let i=index'>
            <div class="container items">
                <h5 style="margin-left: 1%;">Order ID: {{order._id}}</h5>
                <ul class="list-group sticky-top" *ngFor='let item of order.cart'>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{item.name}}</h6>
                            <small class="text-muted">{{item.discountPrice | currency}}</small>
                        </div>
                    </li>
                </ul>
                <li class="list-group-item d-flex justify-content-between">
                    <span>
                        <div>Total: <strong>{{order.total | currency}}</strong></div>
                        <div>Order Date: <strong>{{order.orderPlacedOn}}</strong></div>
                        <div>Order Delivered: <strong>{{order.isDelivered}}</strong></div>
                    </span>
                </li>
            </div>
        </ul>
    </div>
</body>
<app-footer></app-footer>

</html>