<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>24x7</title>
</head>

<body>
    <app-navbar></app-navbar>

    <div class="container emp-profile" *ngIf="loadingData">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{user.image}}" data-testid="profile-image" alt="" />
                </div>

            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        My Profile
                    </h5>
                    <hr>
                    <div class="tab-content profile-tab">
                        <div class="row profile-tab-row">
                            <div class="col-md-6">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-6">
                                <span data-testid="profile-first-name">{{user.firstname}}</span>
                            </div>
                        </div>
                        <div class="row profile-tab-row">
                            <div class="col-md-6">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-6">
                                <span data-testid="profile-last-name">{{user.lastname}}</span>
                            </div>
                        </div>
                        <div class="row profile-tab-row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <span data-testid="profile-email-name">{{user.email}}</span>
                            </div>
                        </div>
                        <div class="row profile-tab-row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{user.phone}}</span>
                            </div>
                        </div>
                        <div class="row profile-tab-row">
                            <div class="col-md-6">
                                <label>Interests</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{user.interests}}</span>
                            </div>
                        </div>
                        <div class="row profile-tab-row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{user.address}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" class="profile-edit-btn" name="btnAddMore" routerLink="/profile-edit"
                    value="Edit Profile" />
            </div>
        </div>
        <!-- Second row under photo and info -->
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <div class="profile-img">
                        <button class="btn btn-outline-danger btn-sm" data-testid="profile-delete-button"
                            style="margin-right: 5px;" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete
                            Image</button>
                        <button class="btn btn-outline-success btn-sm" data-testid="profile-upload-button"
                            data-bs-toggle="modal" data-bs-target="#uploadImageModal">Upload
                            Image</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-work">
                    <button *ngIf="!showAddressEdit" class="btn btn-primary" data-testid="address-edit-button"
                        (click)="isAddressEdit()">Edit Address</button>
                </div>
                <!-- Edit Address Form  -->
                <div *ngIf='showAddressEdit'>
                    <form #addressForm='ngForm' (ngSubmit)='saveAddress()'>
                        <hr>
                        <h5>New Address</h5>
                        <div class='form-group mb-3'>
                            <label for="street">Street Address</label>
                            <input type='text' class='form-control' placeholder='Street Address'
                                [(ngModel)]='newAddress.street' name='street' #street='ngModel'
                                [ngClass]="{'is-invalid': street.touched && street.invalid}" required>

                            <div *ngIf='street.touched && street.invalid' class='invalid-feedback'>
                                <div *ngIf='street.errors!.required'>Street is required</div>
                            </div>
                            <label for="city">City</label>
                            <input type='text' class='form-control' placeholder='City' [(ngModel)]='newAddress.city'
                                name='city' #city='ngModel' [ngClass]="{'is-invalid': city.touched && city.invalid}"
                                required>

                            <div *ngIf='city.touched && city.invalid' class='invalid-feedback'>
                                <div *ngIf='city.errors!.required'>City is required</div>
                            </div>
                            <label for="state">State</label>
                            <input type='text' class='form-control' placeholder='State' [(ngModel)]='newAddress.state'
                                name='state' #state='ngModel' [ngClass]="{'is-invalid': state.touched && state.invalid}"
                                required>

                            <div *ngIf='state.touched && state.invalid' class='invalid-feedback'>
                                <div *ngIf='state.errors!.required'>State is required</div>
                            </div>
                            <label for="zip">Zip Code</label>
                            <input type='text' class='form-control' placeholder='Zip Code' [(ngModel)]='newAddress.zip'
                                name='zip' #zip='ngModel' [ngClass]="{'is-invalid': zip.touched && zip.invalid}"
                                required>

                            <div *ngIf='zip.touched && zip.invalid' class='invalid-feedback'>
                                <div *ngIf='zip.errors!.required'>Zip Code is required</div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]='addressForm.form.invalid'>Save
                            Address</button> |
                        <button class="btn btn-danger" (click)="isAddressEdit()">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Upload Image Modal -->
    <div class="modal fade" id="uploadImageModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="uploadImage()" data-bs-dismiss="modal">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Image Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete profile image?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="deleteImage()">Delete</button>
                </div>
            </div>
        </div>
    </div>

</body>



</html>